.btn-blue {
    color: #fff;
    font-weight: bold;
    background-color: #101f43;
    border-color: #101f43;
}

.btn-blue:hover {
    color: #fff;
    font-weight: bold;
    background-color: #101f43;
    border-color: #101f43;
}

.btn-browse {
    color: #fff;
    font-weight: bold;
    background-color: #6c7b7b;
    border-color: #6c7b7b;
}

.btn-browse:hover{
    color: #fff;
    font-weight: bold;
    background-color: #6c7b7b;
    border-color: #6c7b7b;
}

.tittle-login{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.forgot-password{
    position: absolute;
    right: 0;
}

.icons-password{
    position: relative;
}

.icons-password i{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 22px; 
    cursor: pointer;
}

.pagination-table{
    position: relative;
    bottom: 5px;
}

.etat-user{
    font-size: 22px;
    cursor: pointer;
}

.button-size{
    width: 49%;
}

.texte-label{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
}

.py-1 {
    padding-top: 20px !important;
}

.form-size-control-1{
    width: 20%;
}

.form-size-control-2{
    width: 85%;
}

.identification{
    position: relative;
}

.num_telephone-1{
    position: absolute;
    width: 76%;
    left: 134px;
    bottom: 151px;
}

.m-top{
    margin-top: 21px;
}

.num_telephone-2{
    position: absolute;
    width: 76%;
    left: 134px;
    bottom: 15px;
}

.infos_client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.infos_client_img{
    width: 35%;
    align-self: flex-start;
}

.infos_client_img img{
    width: 40%;
    height: 40%;
}

.infos_client_infos{
    width: 65%;
    
}

.row-style{
    margin-top: 40px;
}

.mt-10{
    position: absolute;
    top: 95px;
}

.pointer-curser{
    cursor: none;
}

.input-required{
    color: red;
    font-size: 19px;
    font-weight: bold;
}

.btn:focus, .form-control:focus{
    outline: none!important;
}